# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual Environments
venv/
*.venv
venv.bak/
*.virtenv
*.virtualenv
.virtualenvs/

# IDE-related directories
.idea/
.vscode/

# Other
*.log
*.egg-info/
dist/
build/
